{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boiler Plate Nest JS</title>
  {{> style}}
</head>
<body>
  {{> content}}
</body>
</html> --}}
<!DOCTYPE html>
<html dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="author" content="Hypeople">
  <meta name="description" content="Responsive, Highly Customizable Dashboard Template" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/app-assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/app-assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/app-assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/app-assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/app-assets/favicon/safari-pinned-tab.svg" color="#0010f7">
  <meta name="msapplication-TileColor" content="#0010f7">
  <meta name="theme-color" content="#ffffff">

  <!-- Plugin -->
  <link rel="stylesheet" type="text/css" href="/app-assets/css/plugin/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/icons/iconly/index.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/icons/remix-icon/index.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/colors.css">

  <!-- Base -->
  <link rel="stylesheet" type="text/css" href="/app-assets/css/base/font-control.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/base/typography.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/base/base.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="/app-assets/css/theme/colors-dark.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/theme/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/custom-rtl.css">

  <!-- Layouts -->
  <link rel="stylesheet" type="text/css" href="/app-assets/css/layouts/sider.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/layouts/header.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/components.css">

  <!-- Pages -->
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/app-contact.css">

  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  {{> style}}

  <title>
    Contact - Yoda Admin Html Template
  </title>
</head>

<body class="collapse-btn-none">
  <main class="hp-bg-color-dark-90 d-flex min-vh-100">
    
    {{> sidebar }}

    <div class="hp-main-layout">
      {{> content }}
      

      <footer class="w-100 py-18 px-16 py-sm-24 px-sm-32 hp-bg-color-black-10 hp-bg-color-dark-100">
        <div class="row align-items-center">
          <div class="col-12 col-sm-6">
            <p class="hp-badge-text mb-0 text-center text-sm-start hp-text-color-dark-30">COPYRIGHT ©2021 Hypeople, All
              rights Reserved</p>
          </div>

          <div class="col-12 col-sm-6 mt-8 mt-sm-0 text-center text-sm-end">
            <a href="https://hypeople-studio.gitbook.io/yoda/change-log" target="_blank"
              class="hp-badge-text hp-text-color-dark-30">🥁 Version: 3.0</a>
          </div>
        </div>
      </footer>
    </div>
  </main>

  <div class="scroll-to-top">
    <button type="button" class="btn btn-primary btn-icon-only rounded-circle hp-primary-shadow">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="16px" width="16px"
        xmlns="http://www.w3.org/2000/svg">
        <g>
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path d="M13 7.828V20h-2V7.828l-5.364 5.364-1.414-1.414L12 4l7.778 7.778-1.414 1.414L13 7.828z"></path>
        </g>
      </svg>
    </button>
  </div>

  <!-- Plugin -->
  <script src="/app-assets/js/plugin/jquery.min.js"></script>
  <script src="/app-assets/js/plugin/bootstrap.bundle.min.js"></script>
  <script src="/app-assets/js/plugin/swiper-bundle.min.js"></script>
  <script src="/app-assets/js/plugin/jquery.mask.min.js"></script>
  <script src="/app-assets/js/plugin/autocomplete.min.js"></script>
  <script src="/app-assets/js/plugin/moment.min.js"></script>

  <!-- Layouts -->
  <script src="/app-assets/js/layouts/header-search.js"></script>
  <script src="/app-assets/js/layouts/sider.js"></script>
  <script src="/app-assets/js/components/input-number.js"></script>

  <!-- Base -->
  <script src="/app-assets/js/base/index.js"></script>

  <!-- Custom -->
  <script src="/assets/js/main.js"></script>
</body>

</html>